.preview{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  touch-action: none;
  overscroll-behavior: none;
  .preview-card{
    position: relative;
    transform-origin: left top;
    z-index: 100;
  }
  img {
    width: 750px;
    z-index: 10;
  }
}
.preview-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  background: #000;
  backface-visibility: hidden;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.22, 1);
}
.preview-list {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  .preview-card {

    margin-right: 30px;
    float: left;
  }
  &::after{
    display: block;
    clear: both;
    content: '';
  }
}

.is-fade-in-mask {
  .preview-mask {
    opacity: 1;
  }
}
.is-show{
  display: block;
  .preview-card {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.22, 1);
  }
}
.is-moving{
  .preview-card {
    transition: none;
  }
  .preview-mask {
    transition: none;
    animation: none;
  }
}